body {
	margin: 0;
}

.container {
	padding-top: 3px;
	padding-bottom: 3px;
}

#categories {
	background-color: yellowgreen;
}


#categories li {
	cursor: pointer;
}

.header-links > li > a:hover,
.header-links > li > a:focus {
	background-color: green;
}

#list_food {
	margin-left: 15px;
}

#main_header_nav {
	background-color: darkgreen;

}

#main_header_nav a {
	color: ghostwhite;
}

#content_body {
	background-color: goldenrod;
}